
<div class="container">


  <ul class="collection">
      <li class="collection-item avatar">
          <i class="material-icons circle red">person_pin</i>
          <span class="title">DIRECCION</span>
          <p>Dirección <br>
             <!-- Second Line -->
          </p>
          <a href="#!" class="secondary-content">
              <span class="new badge red " data-badge-caption="">1</span>
            </a>
        </li>

        <li class="collection-item avatar">
          <i class="material-icons circle blue">person</i>
          <span class="title">Hna.Mercedes Quirós Q.</span>
          <p>8-1 23/5<br>
             <!-- Second Line -->
          </p>
          <a href="#!" class="secondary-content">
            <span class="new badge teal " data-badge-caption="">4</span>
          </a>
        </li>

        <li class="collection-item avatar">
            <i class="material-icons circle teal">layers</i>
            <span class="title">Porf. Marta López E.</span>
            <p>Inglés <br>
               <!-- Second Line -->
            </p>
            <a href="#!" class="secondary-content">
              <span class="new badge teal " data-badge-caption="">4</span>
            </a>
          </li>

  </ul>

</div>

