<div class="row container">

  <div class="col m6 hide-on-small-only">
    <img src="assets/img/escudo-v3-w8-310x310.png" alt="" class=" responsive-img">
  </div>

  <img src="assets/img/escudo-v3-96x96.png" alt=""
      class="col s4 responsive-img hide-on-med-and-up ">
  <br>
  <h4>Iniciar Sesion</h4>

  <div class="col s12 m6 ">
    <form [formGroup]="form" (ngSubmit)="login()" name="registration">
      <div class="row">
        <div class="input-field ">
          <input [(ngModel)]="usuario.email" id="email" type="email" formControlName="email" autocomplete="username" class="validate"
            required="" aria-required="true">
          <label for="email" data-error="Formato: cuenta@gmail.com">Correo</label>
        </div>

        <div class="input-field">
          <input [(ngModel)]="usuario.password" id="password" type="password" formControlName="password" autocomplete="current-password"
            class="validate" required>
          <label for="password">Contraseña</label>
        </div>
      </div>

      <div class="center-btn">
        <button class="btn waves-effect waves-light blue darken-3" type="submit" name="action">
          Ingresar
          <i class="material-icons right">send</i>
        </button>
      </div>

    </form>
  </div>
</div>
